
.oswald{
	font-family: 'Oswald', sans-serif;
}
.libre{
font-family: 'Libre Baskerville', serif;
}
.abril{
	font-family: 'Abril Fatface', cursive;
}
.vibes{
	font-family: 'Great Vibes', cursive;
}
body{
	color: #ffe2cd;
	background: black;
}
.blur-h{
	filter: blur(90px);
}

.herr{
	font-family: 'Herr Von Muellerhoff', cursive;
}

.roboto{
	font-family: 'Roboto Slab', serif;
}